<% custom_table = @custom_entity.try(:custom_table) || @custom_table %>
<% name = @tab || custom_table.try(:name) %>
<% project = @project || @custom_table.try(:project) %>
<% project_id = params[:project_id] || project.identifier %>
<% edit_action = params[:action] == 'edit' %>
<br>
<br>

<% if custom_table %>

<fieldset>
  <legend><h3><%= name %></h3></legend>
  <ul>
    <% if custom_table.custom_fields.present? %>
        <li><h3><%= link_to l(:label_new) + " #{name.singularize}", new_custom_entity_path(custom_table_id: custom_table, project_id: project_id, tab: @tab), remote: true, class: 'icon icon-add' %> </h3></li>
    <% end %>

    <% if !@custom_table && @custom_entity && !@custom_entity.new_record? # if show %>
        <li><h3><%= link_to l(:button_edit), edit_custom_entity_path(@custom_entity), remote: true, class: 'icon icon-edit' %></h3></li>
        <li><h3><%= link_to l(:button_new_comment), new_note_custom_entity_path(@custom_entity), remote: true, class: 'icon icon-issue-edit' %></h3></li>
        <li><h3><%= link_to l(:button_delete), custom_entity_path(@custom_entity, custom_table_id: @custom_entity.custom_table, project_id: params[:project_id]), data: {confirm: l(:text_are_you_sure)}, method: :delete, title: l(:button_delete), class: 'icon icon-del' %></h3></li>
    <% end %>

    <% if @custom_table &&  @custom_table.editable? %>
        <% if edit_action %>
            <li><h3><%= link_to l(:label_new_column), new_table_field_path(custom_table_id: @custom_table.id, project_id: @custom_table.project.identifier), remote: true, class: 'icon icon-custom-fields' %>
            <li><h3><%= link_to l(:button_delete_custom_table), custom_table_path(@custom_table), data: {confirm: l(:text_are_you_sure)}, method: :delete, class: 'icon icon-del' %>
        <% else %>
            <li><%= render_sidebar_table_queries(@custom_table) %></li>
        <% end %>
    <% end %>

    <% if custom_table.custom_fields.present? && !edit_action %>
        <li><h3><%= link_to(l(:label_settings), edit_custom_table_path(custom_table), title: l(:button_edit), class: 'icon icon-settings') %></h3></li>
    <% end %>
  </ul>
</fieldset>
<br>
<% end %>

<% if @custom_tables %>
    <fieldset>
      <legend><h3>Tables</h3></legend>
      <ul>
        <li><h3><%= link_to l(:label_custom_table_new), new_custom_table_path(project_id: params[:project_id] || project.identifier), remote: true, class: 'icon icon-add' %></h3></li>
      </ul>
    </fieldset>
<% end %>