<%= form_tag(journal_path(@journal),
             :remote => true,
             :method => 'put',
             :id => "journal-#{@journal.id}-form") do %>
    <%= hidden_field_tag :custom_entity_note, true %>
    <%= label_tag "notes", l(:description_notes), :class => "hidden-for-sighted" %>
    <%= text_area_tag :notes, @journal.notes,
                      :id => "journal_#{@journal.id}_notes",
                      :class => 'wiki-edit',
                      :rows => (@journal.notes.blank? ? 10 : [[10, @journal.notes.length / 50].max, 100].min) %>
    <%= call_hook(:view_journals_notes_form_after_notes, { :journal => @journal}) %>
    <p><%= submit_tag l(:button_save) %>

      <%= link_to l(:button_cancel), '#', :onclick => "hideModal(this)" %></p>

    <div id="journal_<%= @journal.id %>_preview" class="wiki"></div>
<% end %>
<%= wikitoolbar_for "journal_#{@journal.id}_notes" %>